<html>
<head>
	<title>Asistencia</title>
</head>
<body>
	<header id="app-header">
		<h1>Cockoa</h1>
	</header>

	<section id="app-body">

    <p>Curso</p><select>
      <option>10-1</option>
      <option>10-2</option>
      <option>11-1</option>
      <option>11-3</option>
    </select>

    <p>Materia</p><select>
      <option>Fisica</option>
      <option>Matematicas</option>
      <option>Geometria</option>
    </select>

		<div>
		<h1>Asistencia</h1>
		<table>
			<thead>
    			<tr>
      				<th>No</th>
              <th>Codigo</th>
              <th>Nombres</th>
              <th>Cantidad</th>
              <th colspan="1"></th>
    			</tr>
  			</thead>
  			<tbody>
   				 <tr>
      				<th>1</th>
              <th>30295</th>
              <th>Cabrera Calderon Brandon Esteban</th>
              <th>5</th>
              <th><a href="inasistencias_detalle.html">Ver</a></th>
              
    			</tr>
     			<tr>
      				<th>1</th>
              <th>30295</th>
              <th>Cabrera Calderon Brandon Esteban</th>
              <th>5</th>
              <th><a href="/faltas_detalle.html">Ver</a></th>
    			</tr>
    		</tbody>
		</table>
		</div>
	</section>

	<footer id="app-footer">
		<p>Este es el footer</p>
	</footer>

</body>
</html>