<html>
<head>
	<title>Notas</title>
</head>
<body>
	<header id="app-header">
		<h1>Cockoa</h1>
	</header>

	<section id="app-body">
	
		<h1>Notas</h1>
    <p>Periodo</p><select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <div class ="area">
      <h2>Ciencias Naturales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr>
          <tr>
              <th>25%</th>
              <th>Fisica</th>
              <th><a data-id="1" href="horarioatencion.html">Juan Carlos Pantoja</a></th>
              <th>4.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr>  
          <tr>
              <th>50%</th>
              <th>Quimica</th>
              <th><a data-id="1" href="horarioatencion.html">Jorge Luis Viveros</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      
    </div>

    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
    <div class ="area">
      <h2>Ciencias Sociales</h2>
      <div class ="materias">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Materia</th>
              <th>Docente</th>
              <th>Calificacion</th>
              <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Biologia</th>
              <th><a data-id="1" href="horarioatencion.html">Andrea Palacios Arcos</a></th>
              <th>2.3</th>
              <th><a data-id="1" href="logros.html">Logros</a></th>
            
          </tr> 
        </tbody>
      </table>
      </div >
      

    </div>
		

	</section>

	<footer id="app-footer">
		<p>Este es el footer</p>
	</footer>

</body>
</html>