<!DOCTYPE html>
<html>
	<head>
		<title>Notificacaiones</title>
	</head>
	<body>
		<h1>Notificaciones</h1>
	<section id="app-body">
		<div>		
		<table>
			<thead>
    			<tr>
      				<th>Fecha</th>
      				<th>Tipo</th>
      				<th>Titulo</th>
      				<th>Notificacion</th>
    			</tr>
  			</thead>
  			<tbody>
   				 <tr>
      				<th>18/03/2016</th>
      				<th>1</th>
      				<th>calificacion</th>
      				<th>Su hijo saco 4,3 en logro 1 de matematicas </th> 	
    			</tr>
     			<tr>
      				<th>18/03/2016</th>
      				<th>2</th>
      				<th>Asistencia</th>
      				<th>Su hijo no asistio a clase de sociales el dia "fecha"</th>			
    			</tr>
    		</tbody>
		</table>
		</div>
	</section>

	<footer id="app-footer">
		<p>Este es el footer</p>
	</footer>



	</body>
</html>