<navigation></navigation>
<div class="container">
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-lg-6"></div>
            <h1>
                {{pageHeader.title }}
            </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
            <p class="lead">no eres miembro</p><a href="/#/registro?page={{returnPage}}">Registrarse</a>
            <form ng-submit="onSubmit()">
                <div role="alert" ng-show="formError" class="alert alert-danger">{{formError}}</div>
                <div class="form-group">
                     <label for="usuario">Usuario</label>
                     <input type="text" class="form-control" id="usuario" placeholder="Ingresar usuario" ng-model="credenciales.usuario"/>   
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="credenciales.password" placeholder="password" class="form-control" id="password"/>
                </div>

                <button type="submit" class="btn btn-default">Ingresar</button>

            </form>    
      </div>
    </div>
    <footer-generic></footer-generic>        
</div>