<!DOCTYPE html>
<html ng-app="login">

<head>

	<title>Login</title>
	<link href="../stylesheets/bootstrap.css" rel="stylesheet">
	<link href="../stylesheets/style.css" rel="stylesheet">
	<link href="../stylesheets/signin.css" rel="stylesheet">
</head>
<body>

	<div class="container" ng-controller="AsistenciaController">

      <form class="form-signin">
        <h2 class="form-signin-heading">Ingresa</h2>
        <label for="inputEmail" class="sr-only" >Identificacion</label>
        <input type="text"  ng-model="formData.identificacion" class="form-control" placeholder="Identificacion" required autofocus>
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" ng-model="formData.password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Recuerdame
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block"  ng-click="createTodo()">Ingresar</button>
      </form>

    </div>
    



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
	<link rel="stylesheet"  href="../angular-bootstrap/ui-bootstrap-csp.css">

	

<script src='../javascripts/loginController.js'></script>


</body>
</html>