<html>
<head>
	<title>Notas</title>
</head>
<body>
	<header id="app-header">
		<h1>Cockoa</h1>
	</header>

	<section id="app-body">
		<h1>Logros</h1>  
   
      <h2>Ciencias Naturales</h2>
      <div class ="logro">
      <table>
        <thead>
          <tr>
              <th>Porcentaje</th>
              <th>Logro</th>
              <th>Calificacion</th>
              <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
           <tr>
              <th>50%</th>
              <th>Un logro es la obtención o consecución de aquello que se ha venido intentando desde hace un tiempo y a lo cual también se le destinaron esfuerzos tanto psíquicos como físicos para finalmente conseguirlo y hacerlo una realidad.</th>
              <th>2.3</th>        
          </tr>
         
         <tr>
              <th>25%</th>
              <th>Un logro es la obtención o consecución de aquello que se ha venido intentando desde hace un tiempo y a lo cual también se le destinaron esfuerzos tanto psíquicos como físicos para finalmente conseguirlo y hacerlo una realidad.</th>
              <th>2.3</th>        
          </tr>
          <tr>
              <th>25%</th>
              <th>Un logro es la obtención o consecución de aquello que se ha venido intentando desde hace un tiempo y a lo cual también se le destinaron esfuerzos tanto psíquicos como físicos para finalmente conseguirlo y hacerlo una realidad.</th>
              <th>4.3</th>        
          </tr>
        </tbody>
      </table>
      </div >
      

		

	</section>

	<footer id="app-footer">
		<p>Este es el footer</p>
	</footer>

</body>
</html>