<navigation></navigation>
<div class="container">
    <div id="banner" class="page-header">
        <div class="row">
            <div class="col-lg-6"></div>
            <h1>
                {{pageHeader.title }}
            </h1>
        </div>
    </div>
    <div class="row">
        <label>Nombre</label>
        <label>{{producto.nombre_producto}}</label>

        <label>Cantidad</label>
        <label>{{producto.cantidad}}</label>

        <label>Valor</label>
        <label>{{producto.valor}}</label>


    </div>
    <footer-generic></footer-generic>        
</div>
    
