
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">


      <navbar></navbar>



      <!-- barra lateral -->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <li ng-repeat="carga in cargas"><a ng-click="selectCurso(carga)">{{carga.grado}}-{{carga.grupo}}, {{carga.nombre_materia}} </a></li>
          </ul>
        </div>
      </div>
      
    </nav>  




    <div id="page-wrapper">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">{{carga_seleccionada.nombre_materia}}</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <hr />

      <uib-tabset  active="activeTabIndex">
      <uib-tab index="$index" ng-repeat="periodo in periodos" heading="Periodo {{periodo.numero_periodo}}" ng-click="getPeriodoId($index)">

      <div class="row">
        <div class="col-lg-12">


          <div class="panel panel-default">
            <div class="panel-heading">
              Listado
            </div>
            <div class="panel-body">

              <div class="row">

               <div id="estudiantes">

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th rowspan="2">Cod</th>
                      <th rowspan="2">Nombres y Apellidos</th>
                     
                      <th ng-repeat="logro in logros " colspan = "{{logro.actividades.length + 1}}">Logro {{$index + 1}} </th>
                      
                    </tr>
                    <tr>
                          
                        <th ng-repeat="cabecera in cabeceras track by $index">{{cabecera.mostrar}}</th>
                  
                    </tr>

                  </thead>
                  <tbody>
                    <tr ng-repeat="estudiante in estudiantes">
                     <td>{{estudiante.id_estudiante}}</td>
                     <td>{{estudiante.nombrecompleto}}</td>

                      <td ng-repeat="cabecera in estudiante.cabeceras track by $index" >
                        <a  href="#" editable-text="cabecera.nota" onbeforesave="before(cabecera, estudiante)" onaftersave="after(cabecera,estudiante.id_estudiante)" >{{cabecera.nota || 'empty' }}</a>
                      </td>
                      




                     
                   </tr>

              </tbody>
            </table>




          </div>


          <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->


      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->


  </div>
  <!-- /.col-lg-12 -->
</div>
</uib-tab>
</uib-tabset>

<section id="app-body" >
  <div id="Carga">

    <div ng-grid ="gridOptions">
    </div>
    <ul>

    </ul>

  </div>


</section>

</div>
</div>
