<div id="wrapper">
	<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
         <navbarest></navbarest>
     
      <!-- barra lateral -->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li  ng-repeat="materia in materias"><a ng-click="getInasistenciasByMateria(materia)">{{materia.nombre_materia}} </a>
              </li>
            </ul>
        </div>
      </div>
    </nav>  

    <div id="page-wrapper">
        <div class="row">
        	<div class="col-lg-12">
            	<h1 class="page-header">Inasistencias</h1>
        	</div>
        	<!-- /.col-lg-12 -->
   		</div>
   		<hr />


   			    <div>
    <h1>{{materia_seleccionada.nombre_materia}}</h1>
    <div ng-grid ="gridOptions">
    </div>
    <table class="table">
      <thead>
          <tr>
              <th>Fecha</th>
              <th>Periodo</th>
              <th>Docente</th>
              <th>Justificada</th>
          </tr>
        </thead>
        <tbody >
           <tr ng-repeat="inasistencia in inasistencias">
              <th>{{inasistencia.fecha_inasistencia | date : format : shortDate}}</th>
              <th>{{inasistencia.numero_periodo}}</th>
              <th>{{inasistencia.nombrecompleto}}</th>
              <th>{{inasistencia.estado_inasistencia === 1 ? "Si" : "No" }}</th>
          </tr>
        </tbody>
    </table>
    </div>

		<section id="app-body" >

  </section>

  </div>
</div>

