<navigation></navigation>

  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
        <img src="/img/avatar04.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
        <p>{{primer_nombre}} {{primer_apellido}}</p>
            <small>Identificación: {{numero_documento}}</small>
        <!--<a href="#"><i class="fa fa-circle text-success"></i> En linea</a>-->
        </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Materias</li>
        <li ng-repeat="carga in cargas"><a ng-click="selectCurso(carga)">{{carga.grado}}-{{carga.grupo}}, {{carga.nombre_materia}} </a></li>



    </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<div class="wrapper">

  <div class="content-wrapper">
  <div container>

  <section class="content-header">  
      <h1>
        {{carga_seleccionada.nombre_materia}}
        <small> {{carga_seleccionada.grado}}-{{carga_seleccionada.grupo}}</small>
        
      </h1>
    </section>

    <section class="content">



    <uib-tabset  active="activeTabIndex">
      <uib-tab index="$index" ng-repeat="periodo in periodos" heading="Periodo {{periodo.numero_periodo}}" ng-click="getPeriodoId($index)">
        <div  ng-cloak >
          <md-content class="md-padding" layout-xs="column" layout="row">
            <div class='md-padding' flex-xs flex-gt-xs="" layout="column">
              <md-card ng-repeat="logro in logros"  md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch >
                <form editable-form name="editableForm" onbeforesave="saveLogro(logro)"  class="form-buttons form-inline" >
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Logro {{($index + 1)}} </span>
                      <span class="md-subhead">{{logro.porcentaje_logro}} % </span>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content>
                    <span  style="width: 100%;" editable-textarea="logro.descripcion_logro" e-name="descripcion_logro"  e-required>{{ logro.descripcion_logro || 'Ingresa una descripcion' }}</span>
                  </md-card-content>
                  <md-card-actions layout="row" layout-align="end center">
                    <div class="buttons">
                      <span ng-show="!editableForm.$visible">
                        <a href="#" class="btn btn-default" role="button" ng-click="open('lg',logro.id_logro)" >Ver</a>
                        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" >Editar</button>
                        <a href="#" class="btn btn-danger" role="button">Eliminar</a>
                      </span>

                          <!-- button to show form -->
    
                          <!-- buttons to submit / cancel form -->
                      <span ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Guardar</button>
                        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
                      </span>      
                    </div>   
                      <!--<md-button>Ver</md-button>
                      <md-button>Editar</md-button>-->
                  </md-card-actions>
                </form>
              </md-card>
            </div>

          </md-content>
        </div>
      </uib-tab>
    </uib-tabset>
    </section>
  </div>
  </div>
  <!-- Page Wraper -->
</div>
  <!-- Wraper -->

<footer-generic></footer-generic>



