<div class="modal-header" >
  <h3 class="modal-title">Agregar Logro </h3>
  <div class="modal-body">
  <form>
  <label for="comment">Descripcion Logro:</label>
    <textarea class="form-control" rows="5" ng-model="textarea">
      
    </textarea>

    </div><!-- modal body -->
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(textarea)">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
  </div>
</div>