
<navigation></navigation>
<div class="container">
		<div id="banner" class="page-header">
			<div class="row">
				<div class="col-lg-6"></div>
				<h1>
					{{ hm.pageHeader.title }}
					<small>{{ hm.pageHeader.strapline }}</small>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<label for="filter">Listado de productos</label>
				<ul>
					<li ng-repeat="item in hm.lstProductos">
						{{item.nombre_producto}}
						<a href="/#/producto/{{item.id_producto}}">ver</a>	

					</li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p class="lead">{{ hm.sidebar.content }}</p>
			</div>
		</div>

		<div class="row" ng-show="!hm.esCrear">
			<a ng-show="hm.isLoggedIn" ng-click="hm.toggleForm()" class="btn btn-default pull-right">Crear Producto</a>
			<a ng-hide="hm.isLoggedIn" href="/#/login?page={{ hm.currentPath }}" class="btn btn-default pull-right">Logeate para ingresar</a>
		</div>	

		<div class="row" ng-show="hm.esCrear">
			<form ng-submit="onSubmit()">
            	<div role="alert" ng-show="formError" class="alert alert-danger">{{ formError }}</div>
            	<div class="form-group">
                	<label for="nombre_producto">Nombre Producto</label>
                	<input type="text" class="form-control" id="nombre_producto" placeholder="Nombres" ng-model="hm.producto.nombre_producto">
            	</div>
            	<div class="form-group">
                	<label for="cantidad">Cantidad</label>
                	<input type="text" class="form-control" id="cantidad" placeholder="cantidad" ng-model="hm.producto.cantidad">
            	</div>
				<div class="form-group">
                	<label for="valor">Valor</label>
                	<input type="text" class="form-control" id="valor" placeholder="valor" ng-model="hm.producto.valor">
            	</div>
				<div class="form-group">
					<label for="cmbMarca">Marca:</label>
					<select id="cmbMarca" class="form-control"
						ng-model="hm.producto.id_marca"
						ng-options="item.id_marca as item.nom_marca for item in hm.lstMarcas">
					</select>
				</div>
				<button ng-click="hm.crearProducto()" class="btn btn-success pull-right">Crear</button>
				<button ng-click="hm.toggleForm()" class="btn btn-danger pull-left">Cancelar</button>
		</div>	


		<footer-generic></footer-generic>
</div>
